{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Run export" %}
{% set crumbs = [
    { label: "Exporter", url: url('exporter') },
] %}

{% block actionButton %}
    <a href="/" class="btn submit">{{ "Edit export"|t('exporter') }}</a>
{% endblock %}

{% block content %}
    {{  sprig('exporter/sprig/run', {
        'exportId': export ? export.id : null,
        's-trigger': 'load',
    }) }}
{% endblock %}